// Responsive stuff
$hd = 75rem
$desktop = 64rem
$mobile = 30rem

// Fonts
// $font-size = 100%
$font-size = 16px
$line-height = 1.4
$base-line = $font-size * $line-height
$font-family = 'Helvetica Neue', Helvetica, Arial, sans-serif

//grid
$gutter = 1.25rem
$container-width = 71.25rem
$box-sizing = border-box

//text
$body-background = #2A2B30
$body-color = #CECECE
$black-color = #111
$footer-bottom-color = #3f4144
$main-yellow = #f6d807
$heading-color = #fff
$second-background = #24252a
$separator-color = #8a8c92

$header-menu-link = #f0f0f0
$header-menu-link-hover = #fff

//backgrounds
$footer-background = #191a1b