@import '_variables'
@import '_mixins'

// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700&subset=cyrillic')
@import 'linear-icons.min.css'

rupture.desktop-cutoff = $desktop
rupture.mobile-cutoff = $mobile

@import 'base/reset'
@import 'base/core'
@import 'base/utilities'

@import 'grid/split'

@import 'buttons/buttons'


@import '../blocks/header/**/*'
@import '../blocks/slider/**/*'
@import '../blocks/footer/**/*'
@import '../blocks/best-products/*'

@import 'owl.carousel.css'
@import 'owl.theme.default.css'
