mixin top-header()
    +b.top-header
        +b.split-wrap
            +b.info
                +b.info-links
                    +e.A(href='#').link Доставка
                    +e.A(href='#').link О компании
                    +e.A(href='#').link Контакты                                        
            +b.auth
                +b.auth-links
                    +e.A(href='#').link Вход
                    +e.SPAN.separator  / 
                    +e.A(href='#').link Регистрация
                    