mixin header-menu()
    +b.UL.header-menu
        +b.header-menu-item
            +e.A(href='#') Каталог
        +b.header-menu-item
            +e.A(href='#') О компании
        +b.header-menu-item				
            +e.A(href='#') Контакты
        +b.header-menu-item				
            +e.A(href='#') Галерея
        +b.header-menu-item				
            +e.A(href='#') Информация
        +b.header-menu-item				
            +e.A(href='#') Партнерам