mixin advantages()
    +b.advantages
        +b.split-wrap
            +b.row
                +b.grid--columns-four
                    +b.grid-item
                        +b.advantages-item
                            +e.IMG(src='eco.svg').icon
                            +e.P.title Безопасные
                            +e.P.description Панели изготавливаются из экологически чистых материалов, и совершенно безопасны
                    +b.grid-item
                        +b.advantages-item
                            +e.IMG(src='geometry.svg').icon
                            +e.P.title 100% Геометрия
                            +e.P.description Панели Деко Лайн имеют 100% геометрию и проходят двухэтапную проверку качества
                    +b.grid-item
                        +b.advantages-item
                            +e.IMG(src='factory.svg').icon
                            +e.P.title Производство
                            +e.P.description Деко Лайн - это крупное предприятие со своим производством в Зеленограде
                    +b.grid-item
                        +b.advantages-item
                            +e.IMG(src='garanty.svg').icon
                            +e.P.title Гарантия
                            +e.P.description Все доставляемые панели застрахованы, некачественная продукция будет заменена