.advantages
    padding: 3em 0

    color: $black-color
    text-align: center
    
    background-color: $main-yellow

    &-item
        &__icon
            height: 7.5rem

        &__title
            margin-bottom: 0.5em

            font-size: 1.125rem
            font-weight: bold
        
        // &__description
        //     font-size: 0.95rem