.button
    font-size: 0.875rem
    padding: 1em
    border: none

    &--state
        &-primary
            background-color: $main-yellow
            color: #111

        &-danger
            background-color: red
    
    &--size
        &-small
            padding: 1em